body{
    background-color: #152d63;
    color: white;
    font-family:'Fredoka One', sans-serif;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;

}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

h1{
    font-size: 50px
}

#score {
    width: 150px;
    margin: 10px auto;
    font-size: 30px;
}

#meme {
    width: 400px;
    border-radius: 20px;
}

button {
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #4da6ff;
    color: white;
    font-family:'Fredoka', sans-serif;
    transition: 0.3s;
}

button:hover {
    background-color: #66b3ff;
    transform: scale(1.05);
}

#result {
    font-size: 20px;
    margin-top: 15px;
}
