body{
    background-color: #3456a4;
    color: white;
    font-family:'Bubblegum Sans', sans-serif;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;

}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

h1{
    font-size: 50px
}

#score {
    width: 100px;
    margin: 10px auto;
    font-size: 25px;
}

#meme {
    width: 400px;
    border-radius: 20px;
}

button {
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #80154a;
    color: white;
    font-family:'Bubblegum Sans', sans-serif;
    transition: 0.3s;
}

button:hover {
    background-color: #174df0;
    transform: scale(1.05);
}

#result {
    font-size: 20px;
    margin-top: 15px;
}

 #sticker1 {
    position: fixed;
    width: 200px;
    z-index: 1000
}

/* corners */
.top-left {
    top: 20px;
    left: 50px;;
}

.top-right {
    top: 10px;
    right: 10px;
    width: 60px;
}

.bottom-left {
    bottom: 10px;
    left: 10px;
}

.bottom-right {
    bottom: 10px;
    right: 10px;
}